<div class="col-md-4">
    <img
      src="{{this.image_url}}"
      alt="{{this.name}}"
    />
    <div>
      <a href="/beers/{{this.id}}"><h4>{{this.name}}</h4></a>
      <h6 class="greyTag">{{this.tagline}}</h6>
      <p>{{this.description}}</p>
    </div>
</div>